@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1D1F24;
  --foreground: #FFFFFF;
  --greenCustom: #07E78F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
}